<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CF.Library.Core" version="0.1.6091.32520" targetFramework="net462" />
  <package id="CF.Library.Logging" version="0.1.6091.32526" targetFramework="net462" />
  <package id="log4net" version="2.0.5" targetFramework="net462" />
</packages>